.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 16px;
  gap: 8px;
  width: 282px;
  height: 110px;
  background: #ffffff00;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: black;
}
.card--1 .card--2 .card--3 {
  display: flex;
}
.card--1 {
  width: 46px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #e16259;
}
.card--2 {
  width: 250px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
}

.card--3 {
  width: 217px;
  height: 23px;
  font-weight: 400;
  font-size: 15px;
  color: #e16259;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
}
.Card:active {
  background: #a259ff;
}
.Card:hover {
  background: #a259ff;
}
.Card:active div {
  color: white;
}
.Card:hover div {
  color: white;
}
