.Nav {
  display: flex;
  padding: 1rem 2rem 1rem 4rem;
  justify-content: space-between;
  align-items: center;
}
.Nav h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.Nav-links {
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.Nav-links div {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
}
.Nav-links div:nth-child(1) {
  padding-bottom: 2px;
  border-bottom: 2px solid #e16259;
}
@media (max-width: 1000px) {
  .Nav {
    padding: 0 10px;
  }
  .Nav h1 {
    font-size: 20px;
  }
  .Nav-links {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  .Nav-links div {
    font-size: 15px;
  }
}
